<div class="bg-[#F7F7F7] h-screen">
    <div class=" bg-white shadow-lg w-[60px] gap-5 h-full fixed flex flex-col justify-center items-center">
        <a href="" class="w-[48px] bg-[#689300] text-white rounded-full flex items-center justify-center h-[48px]">
          <i class="ri-leaf-line text-2xl"></i>
        </a>
        <a href="" class="w-[48px]  rounded-full flex items-center justify-center h-[48px]">
          <i class="ri-home-line text-2xl"></i>
        </a>
        <a href="" class="w-[48px]  rounded-full flex items-center justify-center h-[48px]">
          <i class="ri-video-line text-2xl"></i>
        </a>
        <a href="" class="w-[48px]  rounded-full flex items-center justify-center h-[48px]">
          <i class="ri-mic-line text-2xl"></i>
        </a>
    </div>
  </div>